<form>
  <label for="author">Author</label>
  {{input value=author id="author"}}
  <label for="comment">Comment</label>
  {{input value=comment id="comment"}}
  <button {{action 'save'}}>Add Comment</button>
</form>
